* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #74a8da;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #3a4452;
  padding: 20px;
  border-radius: 10px;
}

.container button {
  border: 0;
  outline: 0;
  width: 65px;
  height: 65px;
  margin: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 8px 8px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
  transition: 0.15s;
}

.container button:hover {
  opacity: 0.9;
}

.display {
  background-color: #56606e;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  font-size: 35px;
  color: #fff;
  padding-top: 20px;
  width: 350px;
  cursor: pointer;
}

.container button.clear {
  width: 155px;
  background-color: #eeae38;
  color: #fff;
}

.multiply {
  background-color: #eeae38;
  color: #fff;
}

.minus {
  background-color: #eeae38;
  color: #fff;
}

.dot {
  background-color: #eeae38;
  color: #fff;
}

.divide {
  background-color: #eeae38;
  color: #fff;
}

.plus {
  background-color: #eeae38;
  color: #fff;
}

.del {
  background-color: #eeae38;
  color: #fff;
}

.equal {
  background-color: #eeae38;
  color: #fff;
}